/* Full height layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content area flex grow kare aur center aligned ho */
.page-content {
  flex: 1;
  width: 100%;
  padding: 125px 0px 50px;
  box-sizing: border-box;
}